<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parallel Test Suite" parallel="tests" thread-count="2">

    <test name="Chrome Tests">
        <parameter name="browser" value="chrome" />
        <classes>
            <class name="automation.tests.RegisterTest" />
            <class name="automation.tests.LoginTest" />
        </classes>
    </test>

    <test name="Edge Tests">
        <parameter name="browser" value="edge" />
        <classes>
            <class name="automation.tests.RegisterTest" />
            <class name="automation.tests.LoginTest" />
        </classes>
    </test>

</suite>